<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>Holiday Homes XX</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>

<body>
    <div class="container">
        <header>
            <div class="header__title">
                <h1><a href="{% url 'index' %}">Holiday Homes</a></h1>
            </div>
            <nav class="topnav">
                <ul>
                    <li>
                        <a href="{% url 'profiles_index' %}">Profiles</a>
                    </li>
                    <li>
                        <a href="{% url 'lettings_index' %}">Lettings</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="content">
            <section class="content__welcome">
                <h2>Welcome to your<br />Holiday Homes</h2>
            </section>
            <section class="content__callToAction">
                <div><img src="{% static 'img/undraw_at_home_octe.svg' %}" /></div>
                <div><a href="{% url 'lettings_index' %}">Discover our lettings</a></div>
                <div><img src="{% static 'img/undraw_cabin_hkfr.svg' %}" /></div>
            </section>
            <section class="content__profiles">
                <div><img src="{% static 'img/undraw_Begin_chat_re_v0lw.svg' %}" /></div>
                <div><a href="{% url 'profiles_index' %}">Meet our members</a></div>
            </section>
        </div>
        <footer>
            <p>Holiday Homes - 2021</p>
        </footer>
    </div>
</body>

</html>
<!--<title>Holiday Homes</title>-->
<!--<h1>Welcome to Holiday Homes</h1>-->
<!--<div><a href="{% url 'profiles_index' %}">Profiles</a></div>-->
<!--<div><a href="{% url 'lettings_index' %}">Lettings</a></div>-->
