<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>Holiday Homes</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>

<body>
    <div class="container">
        <header>
            <div class="header__title">
                <h1><a href="{% url 'index' %}">Holiday Homes</a></h1>
            </div>
            <nav class="topnav">
                <ul>
                    <li>
                        <a href="{% url 'profiles_index' %}">Profiles</a>
                    </li>
                    <li>
                        <a href="{% url 'lettings_index' %}">Lettings</a>
                    </li>
                </ul>
            </nav>
        </header>
         <div class="content">
            <section class="content__welcome content__welcome--lettings">
                <img src="{% static 'img/undraw_profile_pic_ic5t.svg' %}" />
                <h2>{{ profile.user.username }}</h2>
                <p>First name: {{ profile.user.first_name }}</p>
                <p>Last name: {{ profile.user.last_name }}</p>
                <p>Email: {{ profile.user.email }}</p>
                <p>Favorite city: {{ profile.favorite_city }}</p>
            </section>
             </div>
        <footer>
            <p>Holiday Homes - 2021</p>
        </footer>
    </div>
</body>

</html>

<!--<title>{{ profile.user.username }}</title>-->
<!--<h1>{{ profile.user.username }}</h1>-->
<!--<p>First name: {{ profile.user.first_name }}</p>-->
<!--<p>Last name: {{ profile.user.last_name }}</p>-->
<!--<p>Email: {{ profile.user.email }}</p>-->
<!--<p>Favorite city: {{ profile.favorite_city }}</p>-->
<!--<div><a href="{% url 'profiles_index' %}">Back</a></div>-->
<!--<div><a href="{% url 'index' %}">Home</a></div>-->
<!--<div><a href="{% url 'lettings_index' %}">Lettings</a></div>-->