* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  #header,
  #changelist-filter h2{
    background: #cf3030;
    padding: 2rem;
  }
  
  #content h1{
    color: #333;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
  }

  caption a.section {
    color: #333 !important;
    text-decoration: underline !important;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  caption {
    background: #f5ecd6 !important;
    padding: 2rem !important;
    border-radius: 30px;
  }

  th a {
    color: #333 !important;
    font-size: 1.2rem;
    padding: 1.5rem;
    line-height: 2rem;
  }
  
  td a {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #333 !important;
  }

.button,
input[type="submit"],
input[type="button"],
.submit-row input, a.button{
    background: #cf3030;
    color: #f5dd5d;
}

.button:active,
input[type="submit"]:active,
input[type="button"]:active,
.button:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
 background: #f5ecd6 !important;
 color: #cf3030;
}

div.breadcrumbs,
div.breadcrumbs a{
  background: #f5ecd6 !important;
  color: #000 !important;
}

#changelist-filter h2 {

}